{% extends "base.html" %}

{# This template largely ripped from the django docs on how to use their pagination #}

{% block content %}
<table>
<tr>
<td style="padding:0 15px 0 15px;"><u>Patient Name</u></td>
<td style="padding:0 15px 0 15px;"><u>Check-in date/time</u></td>
</tr>
{% for chk in check_ins %}
    <tr>
    {# Each "chk" is a Check_in model object. #}
    
    <td style="padding:0 15px 0 15px;">
        <a href="{{ chk.get_absolute_url }}">
        {{ chk.first_name }} {{ chk.last_name }}
        </a>
    </td>
    <td style="padding:0 15px 0 15px;">{{ chk.date_time }}</td>
    </tr>
{% endfor %}
</table>
<div class="pagination">
    <span class="step-links">
        {% if check_ins.has_previous %}
            <a href="?page={{ check_ins.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ check_ins.number }} of {{ check_ins.paginator.num_pages }}.
        </span>

        {% if check_ins.has_next %}
            <a href="?page={{ check_ins.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock %}
