{% extends "min_base.html" %}

{% block content %}
<form method="post" action="/kiosk_data/">
    {% csrf_token %}
    <label for=first_name>First name:</label>
    <input type="text" name="first_name" id="first_name" autocomplete="off"><br>
    <label for=last_name>Last name:</label>
    <input type="text" name="last_name" id="last_name" autocomplete="off"><br>
    <label for=dob>Date of birth:</label>
    <input type="date" name="dob" id="dob" autocomplete="off"><br>
    <label for=social_security_number>Social security number:</label>
    <input type="text"  name="social_security_number"
           id="social_security_number" autocomplete="off"><br>
 
    <input type="submit" value="Submit" />
</form>
{% endblock %}
