{% extends "base.html" %}

{% block content %}
<p>Either you did not give us the permissions we need, or we lost the authorization
   to access your drchrono account. If option 2 matches your situation, we're sorry!
   That's our error. If you're feeling kind, please report this to lorem@ipsum.com.</p>
<p>In any case, we need you to give us those permissions</p>
<p>To do so: <a href="/logout/">logout</a>, head back to the home page, press 
   the "login with drchrono" link, and follow the prompts</p>
{% endblock %}
