{% extends "base.html" %}

{% block content %}
{% if success %}
    <p>Successfully registered!</p>
    <p>You should now <a href=/login/>log in</a>
    <br>
    <p>After logging in, you will be promted to log in with your drchrono
    account, and after doing so your account will be completely set up.
    </p>
    <br>
    <p>
    Remember that when you give a patient access to a browser with the check-in
    kiosk open, you should make sure that the patient does not get access to
    data that they should not. For example, you should log out of drchrono or
    have it securely blacklisted on that browser. Similarly, you should blacklist
    <this website>/check_ins*
    </p>
{% else %}
    <p>{{ user_form.errors }}</p>
    <br>
    <p>Registration failed :( <a href=/register/>Click here</a> to try again</p>
    <p>Or <a href=/>click here</a> to be taken back to the home page</p>
{% endif %}
{% endblock %}
